<!--<div class="fors">-->
<!--  <app-post (onRemove)="rem($event)" *ngFor="let post of posts" [inputPost]="post"></app-post>-->

<!--  <app-post-form (outAdd)="receiveData($event)"></app-post-form>-->


<!--  <div class="hello-word" #info>-->

<!--  </div>-->

<!--  <h2>NEWWWWW</h2>-->
<!--</div>-->

<!--directives-->
<div class="directive">


<p [appStyle]="'red'" [fontWeight]="'bold'" [dStyles]="{border: '1px solid blue'}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias ea eveniet laboriosam sint tempora. Cum maxime nisi recusandae rerum temporibus? Blanditiis incidunt labore laboriosam nisi non soluta, veritatis! Iste, reprehenderit.10</p>


</div>
